<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTMX starter</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="text-center">
      <h1 class="text-2xl font-bold my-5">
        Simple request example
      </h1>
      <input type="number" name="limit" />
      <button
        hx-get="/users"
        hx-target="#users"
        hx-indicator="#loading"
        hx-vals='{"wat": "wat"}'
        hx-include="[name='limit']"
        class="bg-blue-500 text-white py-2p px-3 my-5 rounded-lg">
        fetch users
      </button>
      <span class="htmx-indicator" id="loading">
        <img src="img/loader.gif" alt="loading..." class="m-auto h-10">
      </span>
      <div id="users"></div>
    </div>
    <!-- Here be TODO app scaffolding (currently disabled) with TODOs: -->
    <!-- <div class="text-center">
      <ol id="todo-list" hx-get="/todo" hx-trigger="load"></ol>
      <form hx-post="/todo" hx-target="#todo-list" hx-swap="beforeend">
        <label for="newTodo">New todo:</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="newTodo" id="newTodo" />
        <button type="submit" class="bg-green-500 text-white py-2p px-3 my-5 rounded-lg">submit</button>
      </form>
    </div> -->
  </body>
</html>
