<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTMX starter</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body class="bg-blue-900 text-white">
    <div class="text-center">
      <ol id="todo-list" hx-get="/todo" hx-trigger="load"></ol>
      <form hx-post="/todo" hx-target="#todo-list" hx-swap="beforeend" id="todo-form">
        <label for="newTodo">New todo:</label>
        <input
          type="text"
          name="newTodo"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="newTodo"
        />
        <button type="submit" class="bg-green-500 text-white py-2p px-3 my-5 rounded-lg">add new item</button>
      </form>
    </div>
    <script>
      document.body.addEventListener("htmx:afterSwap", () => {
        const form = document.querySelector("#todo-form");
        form.reset();
      })
    </script>
  </body>
</html>
